Repository sidd190/meteor, changes with the labels that .github/labeler.yml gives for each.
All labels: Project:Accounts:Password, Project:Accounts:UI, Project:CSS, Project:DDP, Project:EJSON, Project:HMR, Project:Isobuild:Minifiers, Project:Isobuild, Project:JS Environment:Typescript, Project:JS Environment, Project:Livequery, Project:Minimongo, Project:Mobile, Project:Mongo Driver, Project:NPM, Project:Release Process, Project:Tool, Project:Tool:Shell, Project:Utilities:Email, Project:Utilities:HTTP, Project:Webapp, Project:Windows, Project:Webapp:Browser Policy, Project:Examples, Project:Dynamic Import, Project:Docs, Project:Guide, github_actions

.github/labeler.yml:

Project:Accounts:Password:
  - changed-files:
    - any-glob-to-any-file: packages/accounts-password/**/*

Project:Accounts:UI:
  - changed-files:
    - any-glob-to-any-file:
      - packages/meteor-developer-config-ui/**/*
      - packages/github-config-ui/**/*
      - packages/google-config-ui/**/*
      - packages/twitter-config-ui/**/*
      - packages/facebook-config-ui/**/*
      - packages/accounts-ui/**/*
      - packages/accounts-ui-unstyled/**/*

Project:CSS:
  - changed-files:
    - any-glob-to-any-file:
      - packages/non-core/less/**/*
      - packages/minifier-css/**/*
      - packages/standard-minifier-css/**/*

Project:DDP:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ddp-common/**/*
      - packages/ddp-rate-limiter/**/*
      - packages/ddp-server/**/*
      - packages/ddp-client/**/*
      - packages/ddp/**/*
      - packages/socket-stream-client/**/*

Project:EJSON:
  - changed-files:
    - any-glob-to-any-file: packages/ejson/**/*

Project:HMR:
  - changed-files:
    - any-glob-to-any-file:
      - packages/hot-code-push/**/*
      - packages/hot-module-replacement/**/*

Project:Isobuild:Minifiers:
  - changed-files:
    - any-glob-to-any-file:
      - packages/minifier-css/**/*
      - packages/minifier-js/**/*
      - packages/standard-minifier-js/**/*
      - packages/standard-minifier-css/**/*
      - packages/standard-minifiers/**/*

Project:Isobuild:
  - changed-files:
    - any-glob-to-any-file:
      - tools/isobuild/**/*

Project:JS Environment:Typescript:
  - changed-files:
    - any-glob-to-any-file:
      - packages/typescript/**/*

Project:JS Environment:
  - changed-files:
    - any-glob-to-any-file:
      - packages/babel-compiler/**/*
      - packages/babel-runtime/**/*
      - packages/ecmascript/**/*
      - packages/ecmascript-runtime/**/*
      - packages/ecmascript-runtime-client/**/*
      - packages/ecmascript-runtime-server/**/*
      - packages/es5-shim/**/*
      - packages/jshint/**/*

Project:Livequery:
  - changed-files:
    - any-glob-to-any-file:
      - packages/livedata/**/*

Project:Minimongo:
  - changed-files:
    - any-glob-to-any-file:
      - packages/minimongo

Project:Mobile:
  - changed-files:
    - any-glob-to-any-file:
      - tools/cordova/**/*
      - packages/launch-screen/**/*
      - packages/mobile-experience/**/*
      - packages/mobile-status-bar/**/*

Project:Mongo Driver:
  - changed-files:
    - any-glob-to-any-file:
      - packages/mongo/**/*
      - packages/mongo-dev-server/**/*
      - packages/mongo-id/**/*
      - packages/mongo-livedata/**/*
      - packages/disable-oplog/**/*
      - packages/non-core/mongo-decimal/**/*

Project:NPM:
  - changed-files:
    - any-glob-to-any-file:
      - npm-packages/**/*

Project:Release Process:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/**/*

Project:Tool:
  - changed-files:
    - any-glob-to-any-file:
      - tools/**/*
      - packages/meteor-tool/**/*

Project:Tool:Shell:
  - changed-files:
    - any-glob-to-any-file:
      - tools/console/**/*

Project:Utilities:Email:
  - changed-files:
    - any-glob-to-any-file:
      - packages/email/**/*

Project:Utilities:HTTP:
  - changed-files:
    - any-glob-to-any-file:
      - packages/deprecated/http/**/*
      - packages/fetch/**/*
      - packages/url/**/*

Project:Webapp:
  - changed-files:
    - any-glob-to-any-file:
      - packages/webapp/**/*
      - packages/webapp-hashing/**/*

Project:Windows:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/windows/**/*

Project:Webapp:Browser Policy:
  - changed-files:
    - any-glob-to-any-file:
      - packages/browser-policy/**/*
      - packages/browser-policy-common/**/*
      - packages/browser-policy-content/**/*
      - packages/browser-policy-framing/**/*

Project:Examples:
  - changed-files:
    - any-glob-to-any-file:
      - tools/cli/example-repositories.js

Project:Dynamic Import:
  - changed-files:
    - any-glob-to-any-file:
      - packages/dynamic-import/**/*

Project:Docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - v3-docs/**/*

Project:Guide:
  - changed-files:
    - any-glob-to-any-file:
      - guide/**/*

github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - ./github/**/*

refactor help text and update test for command matching
  tools/cli/help.txt
  tools/tests/help.js
Labels: Project:Tool

fix help documentation formatting and add missing admin commands
  tools/cli/help.txt
Labels: Project:Tool

bump bundle_version
  meteor
Labels: none

ensure babel parser is used when acorn can't handle the parsing
  tools/isobuild/import-scanner.ts
  tools/static-assets/server/runtime.js
Labels: Project:Isobuild, Project:Tool

feat: choosing between mongo legacy or newest version
  packages/npm-mongo/wrapper.js
Labels: none

refactor: streamline MongoDB connection handling and improve legacy version warnings
  packages/mongo/mongo_connection.js
  packages/mongo/remote_collection_driver.ts
  packages/npm-mongo/wrapper.js
Labels: Project:Mongo Driver

refactor: improve MongoConnection connection handling and update MongoClient usage
  packages/mongo/mongo_connection.js
  packages/mongo/remote_collection_driver.ts
  packages/npm-mongo/wrapper.js
Labels: Project:Mongo Driver

refactor: remove unused MongoServerSelectionError import from wrapper.js
  packages/npm-mongo/wrapper.js
Labels: none

fix: update error message for npm-mongo-legacy installation instructions
  packages/npm-mongo/wrapper.js
Labels: none

refactor: extract default MongoDB URL logic into a separate function
  packages/npm-mongo/wrapper.js
Labels: none

update and match swc 1.12.14 version
  packages/babel-compiler/package.js
  packages/standard-minifier-js/package.js
Labels: Project:Isobuild:Minifiers, Project:JS Environment

refactor: improve error handling in MongoDB connection and streamline connection logic
  packages/npm-mongo/wrapper.js
Labels: none

refactor: adjust constraint handling for npm-mongo-legacy package in ProjectConstraintsFile
  tools/project-context.js
Labels: Project:Tool

Node 22.17.1
  meteor
  scripts/build-dev-bundle-common.sh
  v3-docs/v3-migration-docs/index.md
Labels: Project:Release Process, Project:Docs

feat: removing unecessarly code
  packages/npm-mongo/wrapper.js
  tools/project-context.js
Labels: Project:Tool

refactor: add optional chaining to MONGO_URL check for safer connection handling
  packages/npm-mongo/wrapper.js
Labels: none

refactor: revert optional chaining in MONGO_URL check for compatibility
  packages/npm-mongo/wrapper.js
Labels: none

mongo: simplify matcher error handling in MongoConnection
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

hadling minmongo errors
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

Improve error handling in MongoConnection by checking for QueryError instances
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

Add QueryError class for improved error handling in Minimongo operations
  packages/minimongo/common.js
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

hadling query errors
  packages/minimongo/common.js
  packages/mongo/mongo_connection.js
  packages/mongo/tests/oplog_tests.js
Labels: Project:Mongo Driver

Update packages/minimongo/common.js
  packages/minimongo/common.js
Labels: none

Improve error handling in selector compilation by ensuring all compilation errors are treated as MinimongoError
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

console: removing
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

Refactor QueryError handling to throw QueryError instances instead of generic Error
  packages/minimongo/common.js
Labels: none

Improve error handling in _observeChanges and selector compilation
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

Refactor error handling in MongoConnection to check for QueryError
  packages/minimongo/common.js
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

Refactor AsynchronousCursor and MongoConnection for improved error handling and performance
  packages/mongo/asynchronous_cursor.js
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

Enhance AsynchronousCursor and MongoConnection with improved closing logic and error handling
  packages/mongo/asynchronous_cursor.js
  packages/mongo/mongo_connection.js
Labels: Project:Mongo Driver

feat: enhance MongoDB connection string validation and error handling
  packages/npm-mongo/wrapper.js
Labels: none

refactor: remove error stack logging from npm-mongo connection error handling
  packages/npm-mongo/wrapper.js
Labels: none

refactor: streamline MongoDB connection string validation logic
  packages/npm-mongo/wrapper.js
Labels: none

refactor: improve async operation handling in tests and enhance error handling in MongoDB wrapper
  packages/mongo/tests/mongo_livedata_tests.js
  packages/npm-mongo/wrapper.js
  packages/tinytest/tinytest.js
Labels: Project:Mongo Driver

refactor: remove debug logging for legacy MongoDB package detection
  packages/npm-mongo/wrapper.js
Labels: none

add changelog for Meteor version 3.3.1
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Docs

fix
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Docs

bump bundle version
  meteor
Labels: none

Meteor version to 3.3.1-rc.0 :comet:
  packages/babel-compiler/package.js
  packages/callback-hook/package.js
  packages/meteor-tool/package.js
  packages/minimongo/package.js
  packages/modern-browsers/package.js
  packages/mongo/package.js
  packages/npm-mongo-legacy/package.js
  packages/npm-mongo/package.js
  packages/standard-minifier-js/package.js
  packages/tinytest/package.js
  scripts/admin/meteor-release-experimental.json
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Isobuild:Minifiers, Project:JS Environment, Project:Mongo Driver, Project:Release Process, Project:Tool, Project:Docs

Update 3.3.1.md
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Docs
