Repository sidd190/meteor, changes with the labels that .github/labeler.yml gives for each.
All labels: Project:Accounts:Password, Project:Accounts:UI, Project:CSS, Project:DDP, Project:EJSON, Project:HMR, Project:Isobuild:Minifiers, Project:Isobuild, Project:JS Environment:Typescript, Project:JS Environment, Project:Livequery, Project:Minimongo, Project:Mobile, Project:Mongo Driver, Project:NPM, Project:Release Process, Project:Tool, Project:Tool:Shell, Project:Utilities:Email, Project:Utilities:HTTP, Project:Webapp, Project:Windows, Project:Webapp:Browser Policy, Project:Examples, Project:Dynamic Import, Project:Docs, Project:Guide, github_actions

.github/labeler.yml:

Project:Accounts:Password:
  - changed-files:
    - any-glob-to-any-file: packages/accounts-password/**/*

Project:Accounts:UI:
  - changed-files:
    - any-glob-to-any-file:
      - packages/meteor-developer-config-ui/**/*
      - packages/github-config-ui/**/*
      - packages/google-config-ui/**/*
      - packages/twitter-config-ui/**/*
      - packages/facebook-config-ui/**/*
      - packages/accounts-ui/**/*
      - packages/accounts-ui-unstyled/**/*

Project:CSS:
  - changed-files:
    - any-glob-to-any-file:
      - packages/non-core/less/**/*
      - packages/minifier-css/**/*
      - packages/standard-minifier-css/**/*

Project:DDP:
  - changed-files:
    - any-glob-to-any-file:
      - packages/ddp-common/**/*
      - packages/ddp-rate-limiter/**/*
      - packages/ddp-server/**/*
      - packages/ddp-client/**/*
      - packages/ddp/**/*
      - packages/socket-stream-client/**/*

Project:EJSON:
  - changed-files:
    - any-glob-to-any-file: packages/ejson/**/*

Project:HMR:
  - changed-files:
    - any-glob-to-any-file:
      - packages/hot-code-push/**/*
      - packages/hot-module-replacement/**/*

Project:Isobuild:Minifiers:
  - changed-files:
    - any-glob-to-any-file:
      - packages/minifier-css/**/*
      - packages/minifier-js/**/*
      - packages/standard-minifier-js/**/*
      - packages/standard-minifier-css/**/*
      - packages/standard-minifiers/**/*

Project:Isobuild:
  - changed-files:
    - any-glob-to-any-file:
      - tools/isobuild/**/*

Project:JS Environment:Typescript:
  - changed-files:
    - any-glob-to-any-file:
      - packages/typescript/**/*

Project:JS Environment:
  - changed-files:
    - any-glob-to-any-file:
      - packages/babel-compiler/**/*
      - packages/babel-runtime/**/*
      - packages/ecmascript/**/*
      - packages/ecmascript-runtime/**/*
      - packages/ecmascript-runtime-client/**/*
      - packages/ecmascript-runtime-server/**/*
      - packages/es5-shim/**/*
      - packages/jshint/**/*

Project:Livequery:
  - changed-files:
    - any-glob-to-any-file:
      - packages/livedata/**/*

Project:Minimongo:
  - changed-files:
    - any-glob-to-any-file:
      - packages/minimongo

Project:Mobile:
  - changed-files:
    - any-glob-to-any-file:
      - tools/cordova/**/*
      - packages/launch-screen/**/*
      - packages/mobile-experience/**/*
      - packages/mobile-status-bar/**/*

Project:Mongo Driver:
  - changed-files:
    - any-glob-to-any-file:
      - packages/mongo/**/*
      - packages/mongo-dev-server/**/*
      - packages/mongo-id/**/*
      - packages/mongo-livedata/**/*
      - packages/disable-oplog/**/*
      - packages/non-core/mongo-decimal/**/*

Project:NPM:
  - changed-files:
    - any-glob-to-any-file:
      - npm-packages/**/*

Project:Release Process:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/**/*

Project:Tool:
  - changed-files:
    - any-glob-to-any-file:
      - tools/**/*
      - packages/meteor-tool/**/*

Project:Tool:Shell:
  - changed-files:
    - any-glob-to-any-file:
      - tools/console/**/*

Project:Utilities:Email:
  - changed-files:
    - any-glob-to-any-file:
      - packages/email/**/*

Project:Utilities:HTTP:
  - changed-files:
    - any-glob-to-any-file:
      - packages/deprecated/http/**/*
      - packages/fetch/**/*
      - packages/url/**/*

Project:Webapp:
  - changed-files:
    - any-glob-to-any-file:
      - packages/webapp/**/*
      - packages/webapp-hashing/**/*

Project:Windows:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/windows/**/*

Project:Webapp:Browser Policy:
  - changed-files:
    - any-glob-to-any-file:
      - packages/browser-policy/**/*
      - packages/browser-policy-common/**/*
      - packages/browser-policy-content/**/*
      - packages/browser-policy-framing/**/*

Project:Examples:
  - changed-files:
    - any-glob-to-any-file:
      - tools/cli/example-repositories.js

Project:Dynamic Import:
  - changed-files:
    - any-glob-to-any-file:
      - packages/dynamic-import/**/*

Project:Docs:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**/*
      - v3-docs/**/*

Project:Guide:
  - changed-files:
    - any-glob-to-any-file:
      - guide/**/*

github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - ./github/**/*

add missing updates of babel-dependent packages
  packages/ecmascript/package.js
  packages/minifier-js/package.js
  packages/typescript/package.js
Labels: Project:Isobuild:Minifiers, Project:JS Environment:Typescript, Project:JS Environment

Meteor version to 3.3.1-rc.1 :comet:
  packages/babel-compiler/package.js
  packages/callback-hook/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/minifier-js/package.js
  packages/minimongo/package.js
  packages/modern-browsers/package.js
  packages/mongo/package.js
  packages/npm-mongo-legacy/package.js
  packages/npm-mongo/package.js
  packages/standard-minifier-js/package.js
  packages/tinytest/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Isobuild:Minifiers, Project:JS Environment:Typescript, Project:JS Environment, Project:Mongo Driver, Project:Release Process, Project:Tool, Project:Docs

Remove unnecessary error handling in MongoDB connection
  packages/npm-mongo/wrapper.js
Labels: none

Add TLS options to MongoDB connection for improved security
  packages/npm-mongo/wrapper.js
Labels: none

fix MongoDB client connection options
  packages/npm-mongo/wrapper.js
Labels: none

Meteor version to 3.3.1-rc.2 :comet:
  packages/babel-compiler/package.js
  packages/callback-hook/package.js
  packages/ecmascript/package.js
  packages/meteor-tool/package.js
  packages/minifier-js/package.js
  packages/minimongo/package.js
  packages/modern-browsers/package.js
  packages/mongo/package.js
  packages/npm-mongo-legacy/package.js
  packages/npm-mongo/package.js
  packages/standard-minifier-js/package.js
  packages/tinytest/package.js
  packages/typescript/package.js
  scripts/admin/meteor-release-experimental.json
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Isobuild:Minifiers, Project:JS Environment:Typescript, Project:JS Environment, Project:Mongo Driver, Project:Release Process, Project:Tool, Project:Docs

DOCS: Add addSharedPublication to meteor-rpc docs
  v3-docs/docs/community-packages/meteor-rpc.md
Labels: Project:Docs

DOCS: update example to match docs style
  v3-docs/docs/community-packages/meteor-rpc.md
Labels: Project:Docs

DOCS: add link to `addPublication` in `addSharedPublication` section
  v3-docs/docs/community-packages/meteor-rpc.md
Labels: Project:Docs

Updating docs - documented the use of projections instead of fields in .find()
  docs/source/api/collections.md
Labels: Project:Docs

Updating docs - documented the use of projections instead of fields in .find() and other relevant sections
  docs/source/api/collections.md
Labels: Project:Docs

Bump package versions to stable releases
  packages/babel-compiler/package.js
  packages/callback-hook/package.js
  packages/ecmascript/package.js
  packages/minifier-js/package.js
  packages/minimongo/package.js
  packages/modern-browsers/package.js
  packages/mongo/package.js
  packages/npm-mongo-legacy/package.js
  packages/npm-mongo/package.js
  packages/standard-minifier-js/package.js
  packages/tinytest/package.js
  packages/typescript/package.js
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Isobuild:Minifiers, Project:JS Environment:Typescript, Project:JS Environment, Project:Mongo Driver, Project:Docs

Node 22.18.0 and NPM 10.9.3
  meteor
  npm-packages/eslint-plugin-meteor/scripts/dev-bundle-tool-package.js
  scripts/build-dev-bundle-common.sh
  scripts/dev-bundle-tool-package.js
Labels: Project:NPM, Project:Release Process

Bump BUNDLE_VERSION to 22.18.0.1
  meteor
Labels: none

Bump BUNDLE_VERSION to 22.18.0.2 and update meteor-tool version to 3.3.1
  meteor
  packages/meteor-tool/package.js
  v3-docs/docs/generators/changelog/versions/3.3.1.md
Labels: Project:Tool, Project:Docs

Update version to 3.3.1 in meteor-release-official.json
  scripts/admin/meteor-release-official.json
Labels: Project:Release Process

Update 9.next-steps.md
  v3-docs/docs/tutorials/react/9.next-steps.md
Labels: Project:Docs

bump Meteor installer version to 3.3.1
  npm-packages/meteor-installer/config.js
  npm-packages/meteor-installer/package-lock.json
  npm-packages/meteor-installer/package.json
Labels: Project:NPM

Adding boxes to the Notes of updation
  docs/source/api/collections.md
Labels: Project:Docs

Update getUsersInRoleAsync docs for default options
  packages/roles/roles_common_async.js
  v3-docs/docs/packages/roles.md
Labels: Project:Docs

add changelog where is missing and update node/npm upgrade
  docs/history.md
  v3-docs/docs/generators/changelog/versions/3.3.1.md
  v3-docs/docs/history.md
Labels: Project:Docs

chore: update devDependencies to include meteor-hexo-config and meteor-theme-hexo
  docs/package-lock.json
  docs/package.json
Labels: Project:Docs

Update @meteorjs/meteor-theme-hexo to version 2.0.9 and modify build script
  docs/package-lock.json
  docs/package.json
Labels: Project:Docs

Update getUsersInRoleAsync to embed queryOptions in options and update docs for #13893
  packages/roles/roles_common_async.js
  v3-docs/docs/packages/roles.md
Labels: Project:Docs

Refactor updateMMR method to use createMethod for improved consistency
  guide/source/security.md
Labels: Project:Guide

[docs] update security
  guide/source/security.md
Labels: Project:Guide

Updating docs - documented the use of projections instead of fields in .find()
  docs/source/api/collections.md
Labels: Project:Docs

Updating docs - documented the use of projections instead of fields in .find() and other relevant sections
  docs/source/api/collections.md
Labels: Project:Docs

Adding boxes to the Notes of updation
  docs/source/api/collections.md
Labels: Project:Docs
